<div>
  <a href="/">👈 back to Notes list </a>
</div>

{% extends "base.html" %}

{% block content %}
    <div class="note">
        {% if note.published_date %}
            <div class="date">
                {{ note.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'notes-detail' pk=note.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h2>{{ note.title }}</h2>
        <p>{{ note.body|linebreaksbr }}</p>
    </div>
{% endblock %}

