<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Notes</title>{% endblock %}
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'core/static/styles.css' %}">
</head>
<h2>Notes</h2>
<body>
    {% block content %}
    <a href="{% url 'note_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
<section>
    <thead>
        <tr><th>My Notes</th>
        </tr>
    </thead>
<tbody>
    {% for note in notes %}
    <tr><td>{{note.body}}</td><td>{{note.details}}</td></tr>
    {% endfor %}
</tbody>
</section>

    {% endblock %}
</body>
</html>